BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 120

BreakBeforeBraces: Allman

AllowShortFunctionsOnASingleLine: None

SortIncludes: true

PointerAlignment: Left
ReferenceAlignment: Left

NamespaceIndentation: All

AccessModifierOffset: -4